<div id="timeline"></div>
<% content_for :head do %>
<style>
</style>
<% end %>
<% content_for :javascript do %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
(function(){
  google.charts.load('current', {'packages':['timeline']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var container = document.getElementById('timeline');
    var timeline = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();

    dataTable.addColumn({ type: 'string', id: 'Title' });
    dataTable.addColumn({ type: 'number', id: 'Start' });
    dataTable.addColumn({ type: 'number', id: 'End' });
    dataTable.addRows(<%= raw JSON.pretty_generate(data) %>);

    var options = {
      // @see http://stackoverflow.com/a/18643370/613772
      // 42 is the magic number to get all the rows to display
      // without overflow.
      height: (<%= data.group_by{|a,| a}.size %> * 42) + 40,
      avoidOverlappingGridLines: false,
      backgroundColor: 'transparent',
      timeline: {
        rowLabelStyle: { fontSize: 12, padding: 0}
      }
    };

    timeline.draw(dataTable, options);
/*
    google.visualization.events.addListener(timeline, 'select', function() {
      var row = timeline.getSelection()[0].row;

      alert('You selected ' + data.getValue(row, 0));
    });
    */

  }
})();
</script>
<% end %> 

