<% content_for :head do %>
<style>
#caller-code {
  border-top: 2px solid grey;
  width: 100%;
  height: 30em;
  position: fixed;
  bottom: 0;
}
</style>
<% end %>

<div class="panel panel-default" style="margin-bottom: 30em">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @event['name'] %></h3>
  </div>
  <div class="panel-body">
    <div class="text-pre"><%= JSON.pretty_generate @event['params'] %></div>
  </div>
  <table class="table table-striped table-bordered">
  <tr>
    <th>SQL</th>
    <th>Caller</th>
  </tr>
  <% @event['events'].each do |event| %>
    <tr >
      <td class="td-pre"><%= SqlProbe::Utils.pretty_sql(event['sql'])%></td>
      <td class="td-pre"><%= caller_links(event['caller']) %></td>
    </tr>
  <% end %>
  </table>
</div>

<% content_for :javascript do %>
<script>
$(document).ready(function() {
  // add editor div
  var callerCode = $('<div id="caller-code"></div>');
  $('body').append(callerCode);

  // configure editor
  var editor = ace.edit("caller-code");
  editor.getSession().setMode("ace/mode/ruby");
  editor.setReadOnly(true);

  // Override default click behavior to make ajax
  // request to get the source code from the locator
  // and set the value of the editor to the response.
  // Then jump to the line in the response.
  $('.caller-link').on('click', function (e) {
    var $this = $(this);
    e.preventDefault();

    $.ajax({
      url: $this.attr("href"),
      success: function (data) {
        var editor = ace.edit("caller-code");
        editor.setValue(data.code);
        editor.gotoLine(data.line, 0, true);
      },
      error: function (data) {
        console.error('could not get source. data: ', data);
      }
    });
  })
});
</script>
<% end %>
