.Breakdown {
  max-height: calc(100% - 48px);
  padding: 24px;
  position: relative;
  width: 475px;
  overflow: hidden;
}

.Breakdown-graphContainer {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.Breakdown-table {
  display: inline-block;
  position: absolute;
  max-height: 100%;
  overflow-y: auto;
  padding: 20px 0px;
  box-shadow: inset 0 0px 30px 5px white;
  font-size: 12px;
  width: 300px;
}

.Breakdown-item {
  position: relative;
  vertical-align: top;
  width: 300px;
  padding-bottom: 8px;
  z-index: -1;
}

.Breakdown-label {
  display: inline-block;
  vertical-align: top;
  width: 180px;
}

.Breakdown-value {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
  width: 70px;
}

.Breakdown-box {
  display: inline-block;
  margin: -2px 8px 0 8px;
  width: 16px;
  height: 16px;
  background-color: currentColor;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
