.Breakdown {
  padding: 24px;
}

.Breakdown-item {
  vertical-align: top;
}

.Breakdown-graphContainer {
  width: 150px;
  height: 150px;
}

.Breakdown-value,
.Breakdown-label {
  padding: 4px;
  font-size: 12px;
}

.Breakdown-label {
  max-width: 250px;
}

.Breakdown-value {
  text-align: right;
  padding-left: 8px;
}

.Breakdown-box {
  position: relative;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background-color: currentColor;
}

.Breakdown-box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid black;
  opacity: 0.25;
}
