.SummaryTab2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  font-size: 12px;
}

.SummaryTab2-row {
  display: flex;
  line-height: 2;
}

.SummaryTab2-row--header {
  background: #EEE;
  border-bottom: 1px solid #BBB;
  line-height: 1.5;
}

.SummaryTab2-row--header .SummaryTab2-cell {
  padding-top: 4px;
}

.SummaryTab2-cell {
  border-right: 1px solid #BBB;
  overflow: hidden;
  padding: 0 6px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SummaryTab2-cell:last-child {
  border-right: none;
}

.SummaryTab2-cell--count,
.SummaryTab2-cell--duration {
  text-align: right;
}

.SummaryTab2-cell--count {
  min-width: 7ch;
}

.SummaryTab2-cell--duration {
  min-width: 20ch;
}

.SummaryTab2-cell--durationPct {
  min-width: 8ch;
  color: #888;
}

.SummaryTab2-cell--label {
  flex-grow: 1
}

.SummaryTab2-cell--labelSql {
  font-family: monospace;
}

.SummaryTab2-cellPct {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 0;
  left: 0;
  background: rgba(255, 180, 0, 0.15);
  border-bottom: 1px solid rgba(255, 180, 0, 0.9);
  z-index: -1;
  overflow: hidden;
  transform-origin: top right;
}
