<!DOCTYPE html>
<html>
<head>
  <title>SqlProbe</title>
  <%= stylesheet_link_tag    "sql_probe/application", media: "all" %>
  <%= javascript_include_tag "sql_probe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
