/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.7
 *= require_tree .
 *= require_self
 */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding-top: 72px;
}

html, body {
  height: 100%;
}

.text-pre {
  font-size: .9em;
  font-family: monospace;
  white-space: pre;
}

.td-scroll {
  max-width: 50em;
  overflow: scroll;
}


[data-react-class=Splits],
[data-react-class=Splits] > * {
  height: 100%;
}

.split-horizontal,
.gutter-horizontal {
  float: left;
  height: 100%;
}

.gutter-horizontal {
  cursor: col-resize;
  border-right: 1px solid #ddd;
  background: #ccc;
  border-left: 1px solid #bbb;
}
.gutter-vertical {
  cursor: row-resize;
  border-top: 1px solid #ddd;
  background: #ccc;
  border-bottom: 1px solid #bbb;
}

.split {
  overflow: scroll;
}
.split-d {
  /* box-shadow: inset 0 2px 2px #888; */
}

.split-first {
}

.split-last {
}

[data-react-class=Live],
#live-timeline {
  height: 100%;
  width: 100%;
}
