/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.7
 *= require_tree .
 *= require_self
 */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding-top: 72px;
}

html, body {
  height: 100%;
}

.text-smallest {
  font-size: .75em;
}

.text-pre {
  font-size: .9em;
  font-family: monospace;
  white-space: pre;
}

.td-scroll {
  max-width: 50em;
  overflow: scroll;
}


[data-react-class=Splits],
[data-react-class=Splits] > * {
  height: 100%;
}

.split-with-heading,
.split-panel {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
.split-head {
  background: #666;
  border-bottom: 1px solid #aaa;
  padding: 0.125em;
}
.split-head h3 {
  padding: 0 1em;
  margin: 0;
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
  color: #ddd;
}
.split-head h3 small {
  font-size: .8em;
  color: #aaa;
}
.split-head-buttons {
  padding: 0.25em 1em;
}
.split-head .btn.btn-xs,
.split-head .btn-group-xs > .btn {
  font-size: 11px;
}
.split-body {
  flex: 1;
  overflow: scroll;
}

.split-horizontal,
.gutter-horizontal {
  float: left;
  height: 100%;
}

.gutter-horizontal {
  cursor: col-resize;
  background: #666;
}
.gutter-vertical {
  cursor: row-resize;
  background: #666;
}

.split {
  overflow: scroll;
}

.full-size {
  position: relative;
  height: 100%;
  width: 100%;
}

.backtrace-table th,
.backtrace-table td {
  white-space: nowrap;
}

.backtrace-table th:nth-child(1),
.backtrace-table th:nth-child(2),
.backtrace-table th:nth-child(3),
.backtrace-table td:nth-child(1),
.backtrace-table td:nth-child(2),
.backtrace-table td:nth-child(3) {
  text-align: right;
}

.table-hover tbody tr {
  cursor: pointer;
}


.animate {
  transition: all .2s ease
}
