<%= render 'navbar' %>

<% if flash[:success] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<%= render 'pivot', pivot: @pivot if @pivot.any? %>

<%= render 'help' %>
