<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Help</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Total Queries may not be the sum of tables effected because some queries may touch multiple tables.</li>
      <li>First column is the `controller#action`.</li>
      <li>Successive column headings are table names accessed by everything we've collected so far.</li>
      <li>The number in the cells is number of times a select, insert, update, or delete has occured for that table within the action.</li>
      <li>Click anything in the table will bring up the raw SQL and where it came from.</li>
    </ul>
  </div>
</div>
