.EventTimeline,
.EventTimeline-svg,
.EventTimeline-resizeDetector {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.EventTimeline,
.EventTimeline-resizeDetector {
  width: 100%;
  height: 100%;
}

.EventTimeline-resizeDetector {
  border: none;
  outline: none;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
}

.EventTimeline-item {
  height: 20px;
  cursor: pointer;
  fill-opacity: 0.6;
}

.EventTimeline-item:hover {
  fill-opacity: 1.0;
}

.EventTimeline-item--group {
  fill: #DDD;
}

.EventTimeline-gridLine {
  stroke: #000;
  stroke-width: 1;
  opacity: 0.1;
}

.EventTimeline-gridLineLabel {
  font-size: 12px;
}
