.EventTimeline svg {
  shape-rendering: optimizeSpeed;
}

.EventTimeline,
.EventTimeline-svg,
.EventTimeline-resizeDetector {
  position: relative;
  overflow: hidden;
  background-color: white;
}

.EventTimeline,
.EventTimeline-resizeDetector {
  width: 100%;
  height: 100%;
}

.EventTimeline-resizeDetector {
  border: none;
  outline: none;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
}

.EventTimeline-item {
  cursor: pointer;
  height: 20px;
  stroke: white;
  stroke-width: 4;
  stroke-opacity: 0;
  vector-effect: non-scaling-stroke;
}

.EventTimeline-item:hover {
  stroke: #7ac1ff;
  stroke-opacity: 1;
}

.EventTimeline-item.is-selected {
  stroke: #0088ff;
  stroke-opacity: 1;
}

.EventTimeline-item.is-cached {
  fill-opacity: 0.5;
}

.EventTimeline-item--group {
  fill: #E8E8E8;
}

.EventTimeline-gridLine {
  stroke-opacity: 0.2;
  stroke: #000;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}

.EventTimeline-gridLineLabel {
  font-size: 12px;
}
